.circle-component,
.spotlight,
.circle-component-pressed{
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
    cursor: pointer;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background-color: transparent;
    border-radius: 50%;
    z-index: 1;
}

.circle-component-pressed{
    transform: translateY(.5rem);
}

.circle-image{
    position: absolute;
    z-index: 6;
}

.circle-white,
.circle-white-pressed{
    position:absolute;
    width: 106px;
    height: 106px;
    background-color: white;
    border-radius: 50%;
    z-index: 5;

}

.circle-white{
    transform: scaley(.93);
    transform-origin: bottom;
}

.circle-white-pressed{
    transform: scaley(1);

}

.circle-white-shadow{
    position:absolute;
    width: 106px;
    height: 106px;
    background-color: rgb(204, 204, 204);
    border-radius: 50%;
    z-index: 4;
}


.circle-color-shadow-top-rock,
.circle-color-shadow-top-paper,
.circle-color-shadow-top-scissors{
    display: block;
    width: 106px;
    height: 106px;
    transform: scaley(1.04) scalex(1.02);
    transform-origin: bottom;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.circle-color-shadow-top-rock{
    background-color: hsl(349, 91%, 38%);
}


.circle-color-shadow-top-paper{
    background-color: hsl(212, 84%, 45%);
}

.circle-color-shadow-top-scissors{
    background-color: hsl(29, 89%, 49%);
}


.circle-color-shadow-top-pressed{
    display: none;
}




.circle-color-rock,
.circle-color-paper,
.circle-color-scissors{
    position:absolute;
    width: 140px;
    height: 140px;
    background-color: red;
    border-radius: 50%;
    z-index: 2;
}


.circle-color-rock{
    background: rgb(224, 10, 10);
    background: linear-gradient(0deg, rgb(177, 25, 33) 0%, rgb(241, 52, 93) 100%);
}

.circle-color-paper{
    background: rgb(10, 145, 224);
    background: linear-gradient(0deg, rgb(40, 115, 201) 0%, rgb(28, 155, 230) 100%);
}

.circle-color-scissors{
    background: rgb(224,148,10);
    background: linear-gradient(0deg, rgb(241, 161, 11) 0%, rgb(240, 210, 20) 100%);
}



.circle-color-shadow-rock,
.circle-color-shadow-paper,
.circle-color-shadow-scissors{
    position:absolute;
    transform: scaleY(1.05);
    transform-origin: top;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    z-index: 1;
}

.circle-color-shadow-rock{
    background-color: hsl(349, 72%, 26%);
}

.circle-color-shadow-paper{
    background-color: hsl(224, 72%, 41%);
}

.circle-color-shadow-scissors{
    background-color: hsl(29, 91%, 42%);
}

.circle-color-shadow-pressed
{
    display: hidden;
}

.spotlight-win,
.spotlight-lose{
    z-index: 0;
}

.spotlight-win:after,
.spotlight-lose:after{
    content:'';
    position: absolute;    
    width: 250%;
    height: 250%;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: transparent;
}

.spotlight-win:after{
    background: radial-gradient(circle, rgb(26, 90, 173) 0% , rgb(65, 133, 165) 20%, rgba(65, 133, 165,.5) 31%,  rgba(71, 143, 177, 0.25) 35%,  rgba(16,41,73,0) 48%,  rgba(16,41,73,0) 65%);
    filter: saturate(5)  blur(10px);
    animation:spotlight-animation 4s alternate infinite ;
}

.spotlight-lose:after{
    background: radial-gradient(circle, rgb(173, 26, 95) 0% , rgb(165, 65, 115) 20%, rgba(165, 65, 157, 0.5) 31%,rgba(78, 71, 177, 0.25) 35%,  rgba(16,41,73,0) 48%,  rgba(16,41,73,0) 65%);
    filter:blur(10px);
    animation:spotlight-animation 4s alternate infinite;

}

@keyframes spotlight-animation {

    0%,100%{
        filter: hue-rotate(0) saturate(5)  blur(10px);
    }
    25%{
        filter: hue-rotate(25deg) saturate(5)  blur(15px);
    }
    50%{
        filter: hue-rotate(40deg) saturate(5)  blur(20px);
    }
    75%{
        filter: hue-rotate(25deg) saturate(5)  blur(15px);
    }
}