.result-stage{  
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
    column-gap: 60px;
}

.result-stage-component-wrapper{
    display: grid;
    grid-template-rows: 75% 10%;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

@media (min-width:1366px){
    .result-stage{
        scale:1.8;
    }

    .result-stage-component-wrapper{
        display: flex;
        flex-direction: column-reverse;
    }

    .result-stage-message-gap{
        column-gap: 140px;
    }
}