.result-stage{  
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
    column-gap: 60px;
    transition: all .2s ease-in-out;
}

.result-stage-text{
    display: block;
    padding-top: 40px;
}

.result-stage-text-desktop{
    display: none;
}

.result-stage-component-wrapper{
    display: grid;
    grid-template-rows:80% 20%;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

@media (min-width:1366px){

    .result-stage-component-wrapper{
        grid-template-rows:20% 80%;

    }

    .result-stage{
        transform:scale(1.8);
    }  

    .result-stage-message-gap{
        column-gap: 140px;
    }

    .result-stage-text{
        display: none;
    }

    .result-stage-text-desktop{
        display: block;
    }
}