.rules{
    user-select: none;
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-top:20px;
    padding-bottom: 70px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: white;
}

.rules-text{
    font-size: 34px;
    font-weight: bold;
    color: var(--clr-text-dark);
    
}

.rules-close-button{
    display: none;
}

.rules-close-button,
.rules-close-button-mobile{
    width: 25px;
}


@media (min-width:1366px){

    .rules{
        justify-content: space-between;
        width: 450px;
        height: 450px;
        top:50vh;
        left: 50vw;
        transform: translate(-50% , -50%);
        border-radius: 10px;
    }
    
    .rules-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 30px;
    }

    .rules-text{
        margin-right: auto;
        margin-top:0
    }

    .rules-close-button{
        display: block;
        cursor: pointer;
    }

    .rules-close-button-mobile{
        display: none;
    }


}